%tr
  %td= link_to(drug.name, drug_path(drug))
  %td= drug['description']
  %td= attr_link(:drugbank, drug)
  %td
    %a{href: "http://www.pharmgkb.org/drug/#{drug['pharmGkbID']}"}
      = drug['pharmGkbID']
  %td
    - if drug['fdaApproved']
      %span.label.label-success
        approved
    - else
      %span.label.label-danger
        non-approved

  %td= drug['source']
  - if drug.ld?
    %td
      = render 'common/pmids', locals: {pmids: drug.pmids}
    %td
      = render 'common/curated', locals: {status: drug.curated?}
