%tr{href: drug_url(drug)}
  %td= drug['name']
  %td= drug['description']
  %td= drug['drugbankID']
  %td= drug['pharmGkbID']
  %td= drug['fdaApproved']
  %td= drug['source']
  -if drug['pmids']
    %td
      - drug['pmids'].split(',').each_with_index do |id, ind|
        %a{href: "http://www.ncbi.nlm.nih.gov/pubmed/#{id}"}
          = ind+1
        &nbsp;
