%tr{href: drug_url(drug)}
  %td= drug['name']
  %td= drug['description']
  %td= drug['drugbankID']
  %td= drug['pharmGkbID']
  %td= drug['fdaApproved']
  %td= drug['source']
  - if drug['pmids']
    %td
      = render 'common/pmids', locals: {ids: drug['pmids']}

