%tr{href: drug_url(drug)}
  %td= drug['name']
  %td= drug['description']
  %td= drug['drugbankID']
  %td= drug['pharmGkbID']
  %td
    - if drug['fdaApproved']
      %span.label.label-success
        approved
    - else
      %span.label.label-danger
        non-approved

  %td= drug['source']
  - if drug.ld?
    %td
      = render 'common/pmids', locals: {pmids: drug.pmids}
    %td
      = render 'common/curated', locals: {status: drug.curated?}
