%p#notice= notice

%h1.center
  Drug

%table.table.table-bordered.table-responsive.table-striped.drug-desc
  %tr
    %td
      %b
        Name
    %td= @drug.name
  %tr
    %td
      %b
        Description
    %td= @drug.description
  %tr
    %td
      %b
        Drugbankid
    %td
      %a{href: "http://www.drugbank.ca/drugs/#{@drug.drugbankID}"}
        = @drug.drugbankID
  %tr
    %td
      %b
        Pharmgkbid
    %td
      %a{href: "http://www.pharmgkb.org/drug/#{@drug.pharmGkbID}"}
        = @drug.pharmGkbID
  %tr
    %td
      %b
        FDA approved
    %td= @drug.fdaApproved
  %tr
    %td
      %b
        Source
    %td= @drug.source

= render partial: 'common/tabs', locals: {genes: @genes, drugs: nil, diseases: @diseases, pmids: true}
