%p#notice= notice

%p
  %b Name:
  = @drug.name
%p
  %b Description:
  = @drug.description
%p
  %b Drugbankid:
  = @drug.drugbankID
%p
  %b Pharmgkbid:
  = @drug.pharmGkbID
%p
  %b Fdaapproved:
  = @drug.fdaApproved
%p
  %b Source:
  = @drug.source

= render partial: 'common/tabs', locals: {genes: @drug.genes, drugs: nil, diseases: @drug.diseases, pmids: true}
