%tr{:href => disease_url(disease)}
  %td= disease['name']
  %td= disease['alt_names']
  %td= disease['pharmGkbID']
  %td= disease['source']
  -if disease['pmids']
    %td
      - disease['pmids'].split(',').each_with_index do |id, ind|
        %a{href: "http://www.ncbi.nlm.nih.gov/pubmed/#{id}"}
          = ind+1
        &nbsp;
