%tr{:href => disease_url(disease)}
  %td= disease['name']
  %td= disease['alt_names']
  %td= disease['pharmGkbID']
  %td= disease['source']
  -if disease['pmids']
    %td
      = render 'common/pmids', locals: {ids: disease['pmids']}

