%tr{:href => disease_url(disease)}
  %td= disease['name']
  %td
    - if disease['alt_names']
      = disease['alt_names'].gsub('"','').gsub(',',', ').chomp(', ')
  %td
    %a{href: "http://www.pharmgkb.org/gene/#{disease['pharmGkbID']}"}
      = disease['pharmGkbID']
  %td= disease['source']
  -if disease.ld?
    %td
      = render 'common/pmids', locals: {pmids: disease.pmids}
    %td
      = render 'common/curated', locals: {status: disease.curated?}
