%tr
  %td= link_to(disease.name, disease_path(disease))
  %td
    - if disease['alt_names']
      = disease['alt_names'].gsub('"','').gsub(',',', ').chomp(', ')
  %td= attr_link(:pharmgkb, disease)
  %td= disease['source']
  -if disease.ld?
    %td
      = render 'common/pmids', locals: {pmids: disease.pmids}
    %td
      = render 'common/curated', locals: {status: disease.curated?}
