= simple_form_for(@disease) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :alt_names
    = f.input :source
    = f.input :type
    = f.input :pharmGkbID

  .form-actions
    = f.button :submit
