%h1
  Disease search

= form_tag diseases_path, method: 'get' do
  = label_tag(:q, 'Search for: ')
  = text_field_tag(:q)
  = submit_tag("Search")

.row
  %article.col-sm-12.sortable-grid.ui-sortable
    = render partial: 'disease', collection: @diseases
