%h1 Listing diseases

%table
  %tr
    %th Name
    %th Alt names
    %th Source
    %th Type
    %th Pharmgkbid
    %th
    %th
    %th

  - @diseases.each do |disease|
    %tr
      %td= disease.name
      %td= disease.alt_names
      %td= disease.source
      %td= disease.type
      %td= disease.pharmGkbID
      %td= link_to 'Show', disease
      %td= link_to 'Edit', edit_disease_path(disease)
      %td= link_to 'Destroy', disease, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Disease', new_disease_path
