%p#notice= notice

%p
  %b Name:
  = @disease.name
%p
  %b Alt names:
  = @disease.alt_names
%p
  %b Source:
  = @disease.source
%p
  %b Type:
  = @disease.type
%p
  %b Pharmgkbid:
  = @disease.pharmGkbID

= render partial: 'common/tabs', locals: {genes: @disease.genes, drugs: @disease.drugs, diseases: nil, pmids: true}
