%p#notice= notice

%h1.center
  Disease

%table.table.table-bordered.table-responsive.table-striped.drug-desc
  %tr
    %td
      %b
        Name
    %td= @disease.name

  %tr
    %td
      %b
        Alternative names
    %td
      %ul
        - if @disease.alt_names
          - @disease.alt_names.gsub('"','').split(',').each do |n|
            %li
              = n

  %tr
    %td
      %b
        Source
    %td= @disease.source

  %tr
    %td
      %b
        Type
    %td= @disease.type

  %tr
    %td
      %b
        Pharmgkbid
    %td
      %a{href: "http://www.pharmgkb.org/disease/#{@disease.pharmGkbID}"}
        = @disease.pharmGkbID

= render 'genes/smart_list'
