%tr{href: gene_url(gene)}
  %td= gene['name']
  %td= gene['description']
  %td= gene['uniprotKB']
  %td= gene['ensemblID']
  %td= gene['entrezID']
  %td= gene['pharmGkbID']
  -if gene['pmids']
    %td
      - gene['pmids'].split(',').each_with_index do |id, ind|
        %a{href: "http://www.ncbi.nlm.nih.gov/pubmed/#{id}"}
          = ind+1
        &nbsp;
