%tr
  %td.name
    = link_to(gene.name, gene_path(gene))
  %td= gene['description']
  %td= attr_link(:uniprot, gene)
  %td= attr_link(:ensembl, gene)
  %td= attr_link(:entrez, gene)
  %td= attr_link(:pharmgkb, gene)
  %td= gene['source']
  - if gene.ld?
    %td
      = render 'common/pmids', locals: {pmids: gene.pmids}
    %td
      = render 'common/curated', locals: {status: gene.curated? }
