%tr{href: gene_url(gene)}
  %td= gene['name']
  %td= gene['description']
  %td= gene['uniprotKB']
  %td= gene['ensemblID']
  %td= gene['entrezID']
  %td= gene['pharmGkbID']
  - if gene.ld?
    %td
      = render 'common/pmids', locals: {pmids: gene.pmids}
    %td
      = render 'common/curated', locals: {status: gene.curated? }
