%tr
  %td= gene['name']
  %td= gene['description']
  %td= gene['uniprotKB']
  %td= gene['ensemblID']
  %td= gene['entrezID']
  %td= gene['pharmGkbID']
  -if gene['pmids']
    %td
      - gene['pmids'].split(',').each do |id|
        %a{href: "http://www.ncbi.nlm.nih.gov/pubmed/#{id}"}
          = id
        &nbsp;
  %td= link_to 'link', gene
