%tr{href: gene_url(gene)}
  %td= gene['name']
  %td= gene['description']
  %td
    %a{href: "http://www.uniprot.org/uniprot/#{gene['uniprotKB']}"}
      = gene['uniprotKB']
  %td
    %a{href: "http://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=#{gene['ensemblID']}"}
      = gene['ensemblID ']
  %td
    %a{href: "http://www.ncbi.nlm.nih.gov/gene/?term=#{gene['entrezID']}"}
      = gene['entrezID']
  %td
    %a{href: "http://www.pharmgkb.org/gene/#{gene['pharmGkbID']}"}
      = gene['pharmGkbID']
  - if gene.ld?
    %td
      = render 'common/pmids', locals: {pmids: gene.pmids}
    %td
      = render 'common/curated', locals: {status: gene.curated? }
