%p#notice= notice

%h1.center
  Gene

%table.table.table-bordered.table-responsive.table-striped.drug-desc
  %tr
    %td
      %b
        Name
    %td= @gene.name

  %tr
    %td
      %b
        Source
    %td= @gene.source

  %tr
    %td
      %b
        Description
    %td= @gene.description

  %tr
    %td
      %b
        Uniprotkb
    %td= @gene.uniprotKB

  %tr
    %td
      %b
        Ensemblid
    %td= @gene.ensemblID

  %tr
    %td
      %b
        Entrezid
    %td= @gene.entrezID

  %tr
    %td
      %b
        Pharmgkbid
    %td= @gene.pharmGkbID

= render partial: 'common/tabs', locals: {genes: nil, drugs: @drugs, diseases: @diseases, pmids: true}
