%p#notice= notice

%h1.center
  Gene

%p
  %b Name:
  = @gene.name
%p
  %b Source:
  = @gene.source
%p
  %b Description:
  = @gene.description
%p
  %b Uniprotkb:
  = @gene.uniprotKB
%p
  %b Ensemblid:
  = @gene.ensemblID
%p
  %b Entrezid:
  = @gene.entrezID
%p
  %b Pharmgkbid:
  = @gene.pharmGkbID
%p
  %b Drugbanktargetid:
  = @gene.drugbankTargetID

= render partial: 'common/tabs', locals: {genes: nil, drugs: @drugs, diseases: @diseases, pmids: true}
