!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Oncodb'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Oncodb'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    -# %header
    -#   = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      %span.home
        = link_to 'DDGiDB', root_path
      .container
        = yield
  = javascript_include_tag 'http://yastatic.net/jquery/2.1.3/jquery.min.js'
  = javascript_include_tag 'http://yastatic.net/underscore/1.6.0/underscore-min.js'
  -# = javascript_include_tag 'application', 'data-turbolinks-track' => true
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52419134-1', 'auto');
    ga('send', 'pageview');

  :javascript
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter28004391 = new Ya.Metrika({id:28004391,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");

  %noscript
    %div
      %img{src: "//mc.yandex.ru/watch/28004391", style:"position:absolute; left:-9999px;", alt:""}
